<div class="container">
  <div class="table-responsive">
    <div class="col-md-4">
      <table class="table">
        <tbody>
          <tr>
            <img ng-src="img/movie-poster/1.jpg" alt={{$ctrl.episodeData['title']}} style="width:100%">
          </tr>
          <tr>
            <td><b>Title</b></td>
            <td>{{$ctrl.episodeData['title']}}</td>
          </tr>
          <tr>
            <td><b>Episode Title<b></td>
            <td>{{$ctrl.episodeData['episode_title']}}</td>
          </tr>
          <tr>
            <td><b>Season<b></td>
            <td>{{$ctrl.seasonId}}</td>
          </tr>
          <tr>
            <td><b>Episode<b></td>
            <td>{{$ctrl.episodeId}}</td>
          </tr>
          <tr>
            <td><b>Director(s)<b></td>
            <td>{{$ctrl.episodeData['directors']}}</td>
          </tr>
          <tr>
            <td><b>Year Released<b></td>
            <td>{{$ctrl.episodeData['year_released']}}</td>
          </tr>
          <tr>
            <td><b>Genre<b></td>
            <td>{{$ctrl.episodeData['genre']}}</td>
          </tr>
          <tr>
            <td><b>Duration<b></td>
            <td>{{$ctrl.episodeData['duration']}}</td>
          </tr>
        </tbody>
       </br>
        <div ng-if="$ctrl.showButton">
	         <div class="text-center" ng-click="$ctrl.watchStatus()">
            <button type="button" class={{$ctrl.watchResponse['button']}}>
              <span class={{$ctrl.watchResponse['glyphicon']}} aria-hidden="true"></span> {{$ctrl.watchResponse['message']}}
            </button>
          </div>
        </div>
      </table>
    </div>
  </div>
</div>
