<div class="container">
  <div class="table-responsive">
    <div class="col-md-3">
      <table class="table">
        <tbody>
          <tr>
            <img ng-src={{$ctrl.imgUrl}} alt={{$ctrl.movieData['title']}} style="width:100%">
          </tr>
          <tr>
            <td><b>Title</b></td>
            <td>{{$ctrl.movieData['title']}}</td>
          </tr>
          <tr>
            <td><b>Director(s)<b></td>
            <td>{{$ctrl.movieData['directors']}}</td>
          </tr>
          <tr>
            <td><b>Released<b></td>
            <td>{{$ctrl.movieData['year_released']}}</td>
          </tr>
          <tr>
            <td><b>Genre<b></td>
            <td>{{$ctrl.movieData['genre']}}</td>
          </tr>
          <tr>
            <td><b>Rating<b></td>
            <td>{{$ctrl.movieData['movie_rating']}}</td>
          </tr>
          <tr>
            <td><b>Duration<b></td>
            <td>{{$ctrl.movieData['duration']}}</td>
          </tr>
        </tbody>
      </br>
       <div ng-if="$ctrl.showButton">
          <div class="text-center" ng-click="$ctrl.watchStatus()">
           <button type="button" class={{$ctrl.watchResponse['button']}}>
             <span class={{$ctrl.watchResponse['glyphicon']}} aria-hidden="true"></span> {{$ctrl.watchResponse['message']}}
           </button>
         </div>
       </div>
      </table>
    </div>
  </div>
</div>
